/*

    THEME: PRIME
    VERSION: 1.0

    AUTHOR: Jona Feucht
    DEV-URI: https://jonafeucht.de
*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body {
    padding: 0;
    margin: 0;
    background: #E4E4E4;
}
h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Open Sans', sans-serif;
}
/* Panel Section */
.panel-primary {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.33);
    border-radius: 0px;
}
.alert-info {
    background: #fff;
    background-color: #fff;
    border: 1px solid #2A7BA1;
    border-radius: 0px;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #2A7BA1;
    border-color: #2A7BA1;
    border-radius: 0px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    background-color: #2A7BA1;
    padding: 20px 10px;
    margin: 3px auto 0;
}
/* Intro Section */
#intro {
    background:
            linear-gradient(
          rgba(77, 77, 77, 0.22), 
          rgba(78, 78, 78, 0.42)
            ),
        url('/core/assets/img/background-1920x828.jpg');
}
#intro .content {
    padding: 50px 25px 80px;
}
#intro h1 {
    text-align: center;
}
#intro h1>a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
}
#intro h1>a:focus {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    outline: none;
}
@media only screen and (max-width: 777px) {
#intro h1>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    text-align: center;
    border: 3px solid #fff;
}
}
#intro .header_wrapper {
    background: #2A7BA1;
    padding: 8px;
    border-radius: 4px;
    padding-top: 16px;
}

/* navigation section */
.navbar-default {
	background: #2A7BA1;
	border: none;
    border-color: transparent;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.03);
	margin: 0 !important;
    border-bottom: 2px solid #2A7BA1;
}
.navbar-default img {
    vertical-align: middle;
    margin-top: 4px;
}
navbar-right {
    float: right !important;
    margin-right: 10px;
}
.navbar-default .navbar-nav li a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
    font-size: 13px;
    text-transform: uppercase;
	padding-right: 15px;
	padding-left: 20px;
	line-height: 40px;
	border-top: 2px solid #2A7BA1;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #2A7BA1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
    font-size: 13px;
	padding-right: 15px;
	padding-left: 20px;
	line-height: 40px;
	border-top: 2px solid #fff;
}
.navbar-default .navbar-nav > .active > a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
    font-size: 13px;
	padding-right: 15px;
	padding-left: 20px;
	line-height: 40px;
	border-top: 2px solid #2A7BA1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #2A7BA1;
	background-color: ;
    transition: all 0.4s ease-in-out;
	border-top: 2px solid #fff;
}
.navbar-default .navbar-toggle {
	border: none;
	padding-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #333;
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
    cursor: crosshair;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
    text-align: center;
	letter-spacing: 1px;
}
.navbar-brand {
    margin-right: -15px;
}
.navbar-brand a {
	color: #333;
	font-weight: 200;
	outline: none;
    font-size: 24px;
	padding-right: 15px;
	padding-left: 20px;
    line-height: 35px;
}
.navbar-default .navbar-nav .dropdown-menu li a {
    color: #696969;
    background: #fff;
    text-transform: uppercase;
    text-align: left;
    border-top: 0;
}
.navbar-default .navbar-nav .dropdown-menu li a:hover {
    color: #2A7BA1;
    background: #fff;
    text-transform: uppercase;
}
/* Index Section */
#index {
    background: #fff;
}
#index h2 {
    text-align: center;
    text-transform: uppercase;
}
#index p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
#index .header_wrapper {
    background: #fff;
    padding: 8px;
    margin-bottom: 10px;
    border-radius:0;
    padding-top: 16px;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}